
#navbar {
    padding: 0;
    margin-bottom: 50px;
    background: white;
    height: 4rem;
    overflow: hidden;
    background-color: white;
}

#nav-container {
    width: 85%;
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    font-size: 25px;
    margin: auto;
    height: 10px;
}

#name {
    background: #4aaaa5;
    float: left;
    margin: 4px;
    width: fit-content;
    font-size: 1rem;
    line-height: 0.1;
    padding: 0 1rem 0 1rem;
    border-radius: 35%;
    border: 2px solid black;
    box-shadow: 5px 5px 5px 5px;
}

#navigation {
    /* width: 250px; */
    float: right;
}
/* w3 schools  */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
    height: 20px;
  }
  

.nav {
    padding: 40px 20px 20px 20px;
    display: inline;
    line-height: 2;
}

#main-content {
    font-family: 'Arial', 'Helventica Neue', 'Helvetica', 'sans-serif';
    background: white;
    padding: 2% 10% 30% 10%;
    background-image: url("../images/mountains.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 0 0 25% 0;
    height: 400px;

}

#headshot {
    height: 300px;
    width: 300px;
    /* float: left; */
    margin: auto;
    /* text-align: center; */
}

#navbarcontact {
    padding: 0;
    margin-bottom: 50px;
    background: white;
    height: 50px;
    padding: 20px;
}

#nav-container2 {
    width: 960px;
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    font-size: 25px;
    margin: auto;
    height: 10px;
}

#contact {
    background: #4aaaa5;
    width: 250px;
    text-align: center;
    float: left;
    width: 33.3%;
    margin: 0;
}

#navigation2 {
    /* width: 250px; */
    float: right;
}

.nav2 {
    padding: 40px 20px 20px 20px;
    display: inline;
}

.main-content2 {
    width: 960px;
    margin: auto;
    font-family: 'Arial', 'Helventica Neue', 'Helvetica', 'sans-serif';
    background: white;
    padding: 200px;
}

#full {
    width: 100%;
    clear: both;
}

.nav3 {
    padding: 40px 20px 20px 20px;
    display: inline;
}

#navigation3 {
    /* width: 250px; */
    float: right;
}

#portfolio {
    background: #4aaaa5;
    width: 250px;
    text-align: center;
    float: left;
    width: 33.3%;
    margin: 0;
}

/* #main-section {
    font-family: 'Arial', 'Helventica Neue', 'Helvetica', 'sans-serif';
    background: white;
    width: 100%;
    background-image: url("../images/lakes.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
  } */


  #mainText {
    width: 80%;
    font-family: sans-serif;
    font-size: 1.2rem;
    text-align: justify;
    margin: auto;
}

#left-container {
    background-color: grey;
    height: 100%;
    padding-bottom: 50rem;
}

.brand-logo {
    margin-left: 30px;
}

#main-section {
    background: url("../images/greek-vase/greek-vase/greek-vase.png");
    padding-bottom: 50rem;
}

button {
    margin-top: 25px;
    margin-left: 10px;
}

#sidenav {
    color: #4db6ac;
}